.login-bg-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.login-left-card {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-card {
  min-height: 50vh;
  width: 60%;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px rgb(185, 183, 183);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.website-name-style {
  color: #f7931e;
  font-family: 'MD Sans';
  font-style: italic;
  font-size: 24px;
}
.login-title-style {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: #0f172a;
  margin-top: -10px;
}
.input-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.label-style {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #475569;
  margin-bottom: 5px;
}
.input-btn-style {
  height: 40px;
  width: 100%;
  background: #e2e8f0;
  border: none;
  color: #171f46;
  border-radius: 5px;
  font-size: 16px;
}
.login-btn-style {
  height: 40px;
  width: 100%;
  background: #f7931e;
  color: #fff;
  font-family: 'Roboto';
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.error-msg-style {
  width: 100%;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #ef4444;
}
.login-right-card {
  height: 100%;
  width: 50%;
}
.banner-img-style {
  height: 100vh;
  width: 100%;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .login-bg-container {
    flex-direction: column;
    justify-content: center;
  }
  .login-left-card {
    height: 70vh;
    width: 100%;
  }
  .login-right-card {
    height: 45vh;
    width: 100%;
    order: -1;
  }
  .banner-img-style {
    height: 100%;
    width: 75%;
    margin-left: 25%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .logo-style {
    display: none;
  }
  .website-name-style {
    display: none;
  }
  .login-title-style {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
  }
  .form-card {
    width: 100%;
    padding: 20px;
    box-shadow: none;
    align-items: flex-start;
  }
}
